
.media-display-grid .media-item{
	float: left;
	margin: 10px;
	border: 1px solid rgb(139, 139, 139);
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
}
.media-display-grid .media-item:hover{
	border: 1px solid #ffffff;
    box-shadow: 0 0 0px 5px #cccccc;
}
.media-display-grid .media-item.selected{
	border: 1px solid #ffffff;
    box-shadow: 0 0 0px 5px #1e8cbe;
}
.media-display-grid .media-item 
{
    position: relative;
}
.media-display-grid .media-item .media-name{
    position: absolute;
    overflow: hidden;
    width: 110px;
    height: 35px;
    line-height: 15px;
    font-size: 0.83em;
    bottom: 0;
    padding: 4px;
    background: rgba(255,255,255,0.8);
}
.media-display-grid .media-item[data-media-ext="img"] .media-name
{
    display: none;
}
.media-display-grid .media-item .media-icon img{
	height: 110px;
	width: 110px;
}


.media-display-list .media-item{
	padding: 3px;
	border-top: 1px solid #ededed;
	width: 100%;
	height: 30px;
	cursor: pointer;
}
.media-display-list .media-item:hover{
	background: #f2f2f2;
}
.media-display-list .media-item.selected{
	background: #1e8cbe;
    color:#eeeeee;
    font-weight: bold;
}

.media-display-list .media-item .media-icon{
    float:left;
    margin-right: 5px;
}
.media-display-list .media-item .media-icon img{
	height: 24px;
	width: 24px;
}

.media-file-info {
    margin-top: 20px;
    background: #ededed;
    border: 1px solid #c6c6c6;
    min-height: 30px;
}



.media-file-info .media-delete{
    display: inline;
	cursor: pointer;
}
.media-item .media-delete{
    display:none;
}
.media-file-info .media-delete:hover{
	color: red;
}
.clear{
	clear: both;
}
.media-item.media-empty{
    display:none;
}
.media-item.loading{
    background-color: #666666;
}

.media-file-info-item span:first-child
{
    display: inline-block;
    width: 150px;
}


.media-display-preferences
{
    margin-top:20px;
    /*border: 1px solid #cccccc;*/
}
.media-display-preferences .media-display-preferences-item
{
    text-shadow: none!important;
    cursor: pointer;
}
.media-display-preferences .media-display-preferences-item:hover
{
    background: #cccccc;
}
.media-display-preferences .media-display-preferences-item.selected
{
    color: #ffffff;
    background: #1e8cbe;
}

.media-display-preference-group
{
    margin-right: 20px;
}

.media-image-edit-modal .modal-dialog
{
    height: 90%;
}
.media-image-edit-modal iframe, .media-image-edit-modal .modal-content
{
    height: 100%;
}
.media-image-edit-modal .modal-content .modal-body
{
    position: absolute;
    bottom: 2px;
    top: 56px;
    left: 2px;
    right: 2px;
    width: auto;
    padding: 0;
}
.media-image-edit-modal iframe
{
    border: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


/* Edition */

.media-edit-wrapper
{
    position: relative;
    min-height: 450px;
}
.media-edit-image-wrapper
{
    left:0;
    right: 250px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
}
.media-edit-image-wrapper img
{
    max-height: 100%;
    max-width: 100%;
}
.media-edit-desc-wrapper
{
    position: absolute;
    width: 200px;
    right: 0;
}
.media-edit-desc-preview{
    overflow: hidden;
}