
.media-item{
	float: left;
	margin: 5px;
	border: 1px solid #999999;
	padding: 5px;
	border-radius: 4px;
	width: 200px;
	overflow: hidden;
	height: 85px;
	cursor: pointer;
}
.media-item:hover{
	background-color: #cccccc;
}
.media-item .media-delete{
	float: right;
	cursor: pointer;
}
.media-item .media-delete:hover{
	color: red;
}
.media-item .media-name{
	width: 999px;
}
.clear{
	clear: both;
}
.media-item.media-empty{
display:none;
}
.media-item.selected{
background-color: #66FF66;
}
.media-item.loading{
background-color: #666666;
}
